.su-table {
  display: flex;
  max-height: 40em;
  max-width: 70em;
  overflow: auto;

  td {
    padding: 1rem 1.5rem;
    white-space: nowrap;

    &:first-child {
      position: sticky;
      left: 0;
      z-index: 2;
      background: #34a0b5;
      color: #fff;
    }
  }

  thead {
    th {
      padding: 1rem 1.5rem;
      white-space: nowrap;
      background: #fff;
      position: sticky;
      top: 0;
      border: none;

      &:first-child {
        position: sticky;
        left: 0;
        z-index: 3;
      }
    }
  }


}